.testimonial-section {
  position: relative; 
  padding: 80px 0 120px;
  background-color: #ffffff;
  text-align: center;
  margin-top: -50px;
}

.testimonial-title {
  font-size: 36px;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 60px;
}

.testimonial-wrapper {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

/* CARD */
.testimonial-card {
  background: #ffffff;
  padding: 60px 120px 80px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

.testimonial-text {
  font-size: 14px;
  color: #555;
  line-height: 1.9;
  max-width: 650px;
  margin: 0 auto 30px;
}

.testimonial-name {
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
}

/* ARROWS */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background: #ff9acb;
  border: none;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn.left {
  left: -25px;
}

.nav-btn.right {
  right: -25px;
}

/* AVATAR OVERLAP */
.testimonial-avatar {
  margin-top: 40px;      
  display: flex;
  justify-content: center;
  margin-top: -70px;
}

.testimonial-avatar img {
  width: 170px;
  height: 170px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 90;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .testimonial-section {
    padding: 70px 20px 100px;
    margin-top: 0;
  }

  .testimonial-title {
    font-size: 32px;
    margin-bottom: 50px;
  }

  .testimonial-wrapper {
    max-width: 90%;
  }

  .testimonial-card {
    padding: 50px 80px 70px;
  }

  .testimonial-text {
    font-size: 14px;
  }

  .nav-btn {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .nav-btn.left {
    left: -15px;
  }

  .nav-btn.right {
    right: -15px;
  }

  .testimonial-avatar img {
    width: 140px;
    height: 140px;
  }
}


@media (max-width: 480px) {
  .testimonial-section {
    padding: 60px 15px 90px;
  }

  .testimonial-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .testimonial-wrapper {
    max-width: 100%;
  }

  .testimonial-card {
    padding: 35px 25px 60px;
  }

  .testimonial-text {
    font-size: 13px;
    line-height: 1.7;
  }

  .testimonial-name {
    font-size: 14px;
  }

  .nav-btn {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .nav-btn.left {
    left: -10px;
  }

  .nav-btn.right {
    right: -10px;
  }

  .testimonial-avatar {
    margin-top: -55px;
  }

  .testimonial-avatar img {
    width: 110px;
    height: 110px;
  }
}
